<div class="page-header">
  <h1>
    <code><%= @employee.person_number %></code>
    <%= @employee.full_name %>
  </h1>
</div>

<div style="margin-bottom: 16px;">
  <%= link_to '&larr; უკან დაბრუნება'.html_safe, admin_employees_url, class: ['btn', 'btn-default', 'js-back'] %>
</div>

<script type="text/javascript">
  $(function() {
    $('.js-back').click(Tel100.historyBack);
  });
</script>

<%= viewer_for @employee do |v|
  v.required_text_field 'person_number', tag: 'code'
  v.required_text_field 'full_name'
  v.required_text_field 'employee_status'
  v.array_field 'organization.chain', i18n: 'organization' do |fld|
    fld.complex_field do |c|
      c.text_field 'saporg_number', tag: 'code'
      c.text_field 'name'
    end
  end
  v.boolean_field 'active?'
  v.complex_field 'user', tag: 'div', class_name: 'well well-sm' do |c|
    c.text_field 'username', tag: 'code'
    c.text_field 'full_name', url: ->(x) { admin_user_url(id: x.id) }
  end
  v.date_field 'created_at', format: :extra, class_name: 'text-muted'
end %>
