/* buttons */

.danger-button .x-btn-inner { color: #a94442; }
.success-button .x-btn-inner { color: #3c763d; }

.x-panel.panel-with-border {
  border: 1px solid #157fcc;
}

/* bootstrap sets border for legend, which is not desirable here */

legend.x-fieldset-header {
  border-bottom: none;
  margin-bottom: 4px;
  width: initial;
}


/* tree nodes without icons */

.x-tree-noicon .x-tree-icon {
  display: none !important;
  margin-bottom: 8px !important;
}

/* label */

label.x-component {
  font-weight: normal;
}

/* white panel */

.white-panel {
  background-color: white;
}


/* status styles */

tr.row-text-muted td.x-grid-cell .x-grid-cell-inner {
  color: #777;
}

tr.row-text-info td.x-grid-cell .x-grid-cell-inner {
  color: #31708f;
}

tr.row-text-success td.x-grid-cell .x-grid-cell-inner {
  color: #3c763d;
}

tr.row-text-danger td.x-grid-cell .x-grid-cell-inner {
  color: #a94442;
}

tr.row-text-deleted td.x-grid-cell .x-grid-cell-inner {
  text-decoration: line-through;
}

tr.text-unread td.x-grid-cell .x-grid-cell-inner {
  font-weight: bold;
}

/* document styles */

.document-subject {
  padding: 4px;
  margin-bottom: 2px;
  font-weight: bold;
  background-color: white;
}

.document-body {
  padding: 4px;
  background-color: white;
}

/* file upload */

.file-upload .x-form-text-file {
  display: none;
}


/* links */

.x-form-display-field a {
  cursor: pointer;
}

.x-grid-cell a {
  cursor: pointer;
}

.warning {
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  padding: 0 3px;
}

.danger {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 0 3px;
}
