{
    "type": "Ext.window.Window",
    "reference": {
        "name": "items",
        "type": "array"
    },
    "codeClass": null,
    "userConfig": {
        "designer|userAlias": "documentfolderconfig",
        "designer|userClassName": "document.folder.Config",
        "height": 353,
        "layout": "fit",
        "modal": true,
        "publishes": null,
        "title": [
            "{i18n.document.folder.categories.b}"
        ],
        "width": 303
    },
    "name": "MyWindow",
    "configAlternates": {
        "title": "binding"
    },
    "designerId": "04400c9d-b014-470c-b0b3-fb91966cac70",
    "viewControllerInstanceId": "5699b11d-14f3-474a-88de-9ae26205ff79",
    "viewModelInstanceId": "abc529a1-596a-4682-a9e8-3d2af9a7edba",
    "cn": [
        {
            "type": "Ext.grid.Panel",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|displayName": "folderGrid",
                "header": false,
                "hideHeaders": true,
                "store": "CustomFolders",
                "title": "My Grid Panel"
            },
            "name": "MyGridPanel",
            "designerId": "5debe6f9-f85d-4d8e-ab2a-c215804d0d24",
            "cn": [
                {
                    "type": "Ext.grid.column.Column",
                    "reference": {
                        "name": "columns",
                        "type": "array"
                    },
                    "codeClass": null,
                    "userConfig": {
                        "dataIndex": "name",
                        "flex": 1,
                        "text": "String"
                    },
                    "name": "MyColumn15",
                    "designerId": "a15ef86a-4efe-4cf0-9d16-632f1bf08316"
                },
                {
                    "type": "Ext.grid.View",
                    "reference": {
                        "name": "viewConfig",
                        "type": "object"
                    },
                    "codeClass": null,
                    "name": "MyGridView4",
                    "designerId": "dd58af84-89b4-4ce6-8e40-fcab79693b4c"
                },
                {
                    "type": "Ext.selection.RowModel",
                    "reference": {
                        "name": "selModel",
                        "type": "object"
                    },
                    "codeClass": null,
                    "name": "MyRowSelectionModel",
                    "designerId": "a42fbc5c-a051-4793-9566-ed068eb1f8e4"
                }
            ]
        },
        {
            "type": "Ext.toolbar.Toolbar",
            "reference": {
                "name": "dockedItems",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|displayName": "buttonToolbar",
                "dock": "right",
                "vertical": true
            },
            "name": "MyToolbar2",
            "designerId": "8c4b9042-b231-408d-a7f7-ca8f3f312b56",
            "cn": [
                {
                    "type": "Ext.button.Button",
                    "reference": {
                        "name": "items",
                        "type": "array"
                    },
                    "codeClass": null,
                    "userConfig": {
                        "layout|flex": null,
                        "text": "+"
                    },
                    "name": "MyButton5",
                    "designerId": "68597b3b-4a60-466d-be29-391911e365bb",
                    "cn": [
                        {
                            "type": "viewcontrollereventbinding",
                            "reference": {
                                "name": "listeners",
                                "type": "array"
                            },
                            "codeClass": null,
                            "userConfig": {
                                "fn": "onPlusButtonClick",
                                "implHandler": [
                                    "//Ext.MessageBox.prompt(i18n.ui.folder,i18n.ui.enter_name, function(btn, text){",
                                    " Ext.MessageBox.prompt('Folder','Enter name', function(btn, text){",
                                    "  if(btn == 'ok'){",
                                    "    Ext.Ajax.request({",
                                    "      url: '/api/folder',",
                                    "      method: 'POST',",
                                    "      params: { name: text},",
                                    "      success: function(response){",
                                    "        var folderstore = Ext.getStore('CustomFolders');",
                                    "        folderstore.reload();",
                                    "      },",
                                    "      failure: function(response){",
                                    "        Ext.MessageBox.alert('error');",
                                    "      }",
                                    "    });",
                                    "    close();",
                                    "  }",
                                    "});"
                                ],
                                "name": "click",
                                "scope": "me"
                            },
                            "name": "onPlusButtonClick",
                            "designerId": "7e25f98d-f000-4b17-b92f-57bc85b516e5"
                        }
                    ]
                },
                {
                    "type": "Ext.button.Button",
                    "reference": {
                        "name": "items",
                        "type": "array"
                    },
                    "codeClass": null,
                    "userConfig": {
                        "layout|flex": null,
                        "text": "-"
                    },
                    "name": "MyButton6",
                    "designerId": "7af1c8bc-7f5d-4bb1-b57b-70610ddc52c0",
                    "cn": [
                        {
                            "type": "viewcontrollereventbinding",
                            "reference": {
                                "name": "listeners",
                                "type": "array"
                            },
                            "codeClass": null,
                            "userConfig": {
                                "fn": "onMinusButtonClick",
                                "implHandler": [
                                    "var grid = button.up('window').down('grid');",
                                    "var store = grid.store;",
                                    "var selection = grid.selection;",
                                    "if (selection){",
                                    "  Ext.Msg.show({",
                                    "    title: i18n.ui.destroy,",
                                    "    message: i18n.ui.destroyConfirm,",
                                    "    buttons: Ext.Msg.YESNO,",
                                    "    icon: Ext.Msg.QUESTION,",
                                    "    fn: function(btn) {",
                                    "      if (btn === 'yes') {",
                                    "        store.remove(selection);",
                                    "        store.sync();",
                                    "        store.reload();",
                                    "      }",
                                    "     }",
                                    "  });",
                                    "}",
                                    ""
                                ],
                                "name": "click",
                                "scope": "me"
                            },
                            "name": "onMinusButtonClick",
                            "designerId": "c13129bf-db6d-4a01-bf72-9d3a30241dff"
                        }
                    ]
                },
                {
                    "type": "Ext.button.Button",
                    "reference": {
                        "name": "items",
                        "type": "array"
                    },
                    "codeClass": null,
                    "userConfig": {
                        "layout|flex": null,
                        "text": "^"
                    },
                    "name": "MyButton7",
                    "designerId": "984daade-80a6-44be-9fed-d9d4fd80f2df"
                },
                {
                    "type": "Ext.button.Button",
                    "reference": {
                        "name": "items",
                        "type": "array"
                    },
                    "codeClass": null,
                    "userConfig": {
                        "layout|flex": null,
                        "text": "v"
                    },
                    "name": "MyButton8",
                    "designerId": "422c0d84-9520-4ba6-b594-54babaca1dc8"
                }
            ]
        }
    ]
}