<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#general">General</a></li>
  <li><a data-toggle="tab" href="#files">Files</a></li>
  <li><a data-toggle="tab" href="#motions">Motions</a></li>
</ul>

<div class="tab-content">
  <div id="general" class="tab-pane fade in active">
    <%= render partial: 'admin/documents/general', locals: { document: @document } %>
  </div>
  <div id="files" class="tab-pane fade">
    <%= render partial: 'admin/documents/files', locals: { document: @document } %>
  </div>
  <div id="motions" class="tab-pane fade">
    <%= render partial: 'admin/documents/motions', locals: { document: @document } %>
  </div>
</div>
