<h3>
  #<code><%= document.docnumber %></code>
  <strong><%= document.subject %></strong>
</h3>
<div class="row">
  <div class="col-sm-8">
    <div class="well"><%= document.body.html_safe %></div>
  </div>
  <div class="col-sm-4">
  </div>
</div>