@import "colors.less";
@import "functions.less";

@sidebar-width: 300px;

.appcontent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  #sidebar {
    position: absolute;
    width: @sidebar-width;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow-x: hidden;
    overflow-y: auto;
  }

  #main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: @sidebar-width;
  }

}