<h1 class="page-header">
  <%= @title %> <code><%= @employees.count %></code>
</h1>

<ol class="breadcrumb">
  <li><%= link_to 'საწყისი', admin_home_url %></li>
  <li class="active">თანამშრომლები</li>
</ol>

<%= table_for @employees, model_name: 'HR::Employee' do |t|
  t.text_field 'person_number', width: 100, tag: 'code'
  t.text_field 'full_name', url: ->(x){ admin_employee_url(id: x.id) }
  t.text_field 'employee_status'
end %>