<h1 class="page-header"><%= @title %></h1>

<%= editor_for @user do |e|
  e.required_combo_field 'employee_id', i18n: 'employee' do |f|
    f.collection HR::Employee.active.order(:person_id)
    f.placeholder 'აარჩიეთ თანამშრომელი'
  end
  e.autofocused_required_text_field 'username'
  e.required_password_field 'virtual_password', i18n: 'password'
  e.submit @title
  e.save_search_action admin_users_url, label: 'გაუქმება', icon: 'remove'
end %>