<div class="page-header">
  <h1>
    <code><%= @user.username %></code>
    <%= @user.full_name %>
  </h1>
</div>

<%= viewer_for @user, label_width: 220 do |v|
  v.button_action '', label: 'უკან დაბრუნება'.html_safe, js: 'back', icon: 'arrow-left'
  v.button_action admin_edit_user_url(id: @user.id), label: 'შეცვლა', icon: 'pencil'
  v.required_text_field :username, tag: 'code'
  v.required_text_field :full_name
  v.required_complex_field 'employee', tag: 'div', class_name: 'well well-sm' do |empl|
    empl.text_field 'person_number', tag: 'code'
    empl.text_field 'full_name', url: ->(x){ admin_employee_url(id: x.id) }, after: '&mdash;'.html_safe
    empl.text_field 'organization.name', class_name: 'text-muted'
  end
  v.boolean_field :admin?, i18n: 'is_admin'
  v.boolean_field :active?, i18n: 'is_active'
  v.text_field :mobile, tag: 'code'
  v.text_field :email
  v.date_field :created_at, format: 'extra', class_name: 'text-muted'
  v.date_field :updated_at, format: 'extra', class_name: 'text-muted'
end %>