<% side_links = controller.side_links if defined?(controller.side_links) %>
<% curr_subapp = @subapplication || controller_name.to_sym %>
<% if side_links %>
  <ul class="sidemenu">
    <% side_links.each do |key, value| %>
      <li class="<%= key == curr_subapp ? 'active' : 'common' %>">
        <a href="<%= value[:url] %>" <%if value[:save_search] %>data-save-search<% end %>><%= value[:label] %></a>
      </li>
    <% end %>
  </ul>
<% end %>