<!DOCTYPE html>
<html language="ka">
<%= render partial: 'layouts/dochead' %>
<body>
<div class="appcontent">
  <div id="sidebar">
    <%= render partial: 'layouts/logolarge' %>
    TODO:
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>