<!DOCTYPE html>
<html language="ka">
<%= render partial: 'layouts/dochead' %>
<body class="application" data-no-turbolink>
<div class="container" style="margin-top: 16px;"><%= yield %></div>
<%= render partial: 'layouts/cleanfooter' %>
</body>
</html>