<!DOCTYPE html>
<html language="ka">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext/trial/5.0.1/build/packages/ext-theme-classic/build/resources/ext-theme-classic-all.css">
  <script type="text/javascript" src="http://cdn.sencha.com/ext/trial/5.0.1/build/ext-all-debug.js"></script> 
  <script type="text/javascript" src="http://cdn.sencha.com/ext/trial/5.0.1/build/packages/ext-theme-classic/build/ext-theme-classic.js"></script>
  <script type ="text/javascript" src="/js/app.js"></script>
  <%= stylesheet_link_tag 'application' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<title>tel100</title>
</head>
<body></body>
</html>