<div class="page-header">
  <div class="pull-right">
    <%= link_to 'ახალი დოკუმენტი', tel100_new_document_url, class: ['btn', 'btn-success', 'btn-lg'] %>
  </div>
  <h1><%= @title %> (<code><%= number_with_delimiter @documents.total_entries %></code>)</h1>
</div>

<%= table_for @documents do |t|
  t.text_field 'docnumber', tag: 'code', label: '#', width: 50
  t.date_field 'docdate', format: 'short', label: 'თარიღი', width: 100
  t.text_field 'subject', label: 'სათაური'

end %>